################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/obj
/Calculator/.vs
/Calculator/Calculator.Tests/bin
/Calculator/Calculator.Tests/obj
